@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    padding: 0;
    margin:0;
  }


section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('tu_foto') no-repeat;
    background-position: center;
    background-size: cover;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;

    
}

.form-box {
    position: relative;
    width: 400px;
    height: 500px;
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgba(244, 236, 240, 0.685);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}

input:focus~label,
input:valid~label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.forget {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.forget label input {
    margin-right: 3px;
}

.forget label a {
    color: #fff;
    text-decoration: none;
    margin-left: 60px;
}

.forget label a:hover {
    text-decoration: underline;
}

.subit {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register pa {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration:  underline;
}

body {

    background-image: linear-gradient(to right,rgba(101, 33, 33, 0.373) 30%,rgba(101, 33, 33, 0.26)),url(../picture/backgrounds/shop.jpg);
    background-position: 0;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
    
}
.submit{
    color : rgb(255, 242, 242) !important;
    font-size: 20px;
    font-weight: 700;
    font-display:  inline-block;
    background-color: transparent !important;
    border: none;
    width: 100px;
    height: 50px;
}

.submit:hover{ 
    color : rgb(15, 4, 4) !important;
   
}


header {
    display: flex !important;
    justify-content: space-between;
    padding-top: 20px;



}
.logo{
    font-size: 30px;
    
    text-decoration: none;
    border: 1px solid;
    height: 50px;
    border-radius: 5px;
    width: 130px;
    text-align: center;
    border-width: 2px;
    color: rgb(255, 255, 255);
}
.login {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    background: #fff;
    border: none;
    
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.rech{
    
    height: 0px;
    width: 0px;
    border :none ;
   align-items: center;
   text-align: center ;
}
.search-container{
    display: flex;

    justify-content: center;
    width: 0px;
   
}
.fa.fa-search{
 
    width:0px;
   font-size: 0;
}
.ii{ 

    height: 0px; 
    font-size: 0;
  width: 0;
    
    Border : none; 
   
    } 
.container{

    width: 100%;
    height: 100px;
    backdrop-filter: blur(10px);
    border: 2px solid;
    width: 1e;
    border-color: #d24683;
    border-radius: 7px;
}